<header class="flex justify-between pt-6 w-screen pb-24 mx-auto max-w-7xl">
  <h1 class="">Braulio Rosario</h1>
  <nav class="flex flex-row gap-11">
    <a href="#work">Work</a>
    <a href="/">About</a>
  </nav>
</header>
