<section id="home" class="flex justify-center mx-auto max-w-7xl w-11/12">
  <div class="flex flex-col">
    <h1 class="lg:text-8xl text-5xl animate-fade animate-duration-[2000ms]">
      Creating emotional<br />digital experiences <br />that people love
    </h1>

    <div
      class="flex flex-row justify-between mt-20 pt-28 animate-fade-up animate-duration-[2500ms]"
    >
      <div
        class="justify-center items-center relative rotating-effect hidden lg:flex"
      >
        <img
          id="profilepic"
          class="rounded-full h-20 w-20 m-[18px] object-cover"
          src="./profilepic.jpg"
          alt="Profile Pic"
        />

        <svg class="h-26 w-26 absolute top-0 left-0 overflow-visible">
          <defs>
            <path
              id="circlePath"
              d="M58,0 A58,58 0 1,0 116,58 A58,58 0 1,0 58,116 A58,58 0 1,0 0,58 A58,58 0 1,0 58,0 Z"
            ></path>
          </defs>
          <text font-size="17" fill="#F4E7D4" dominant-baseline="Hanging">
            <textPath xlink:href="#circlePath">
              ✦ BRAULIO ROSARIO ✦ WEB DEVELOPER
            </textPath>
          </text>
        </svg>
      </div>

      <div class="flex justify-center items-center mx-auto">
        <h2 class="text-lg lg:text-start text-center">
          I'm a web developer with 2 years of experience, based in <br />
          the Dominican Republic. I like to understand people to <br />solve
          their problems and create websites that resonate.
        </h2>
      </div>
    </div>
  </div>
</section>
