<section
  id="skills"
  class="h-full w-full flex items-center justify-center relative overflow-hidden py-[30vh]"
>
  <div class="flex flex-col items-center">
    <h1
      id="element1"
      class="text-5xl text-center flex transition-transform duration-1000 ease-in-out"
      style="transform: translateX(-100%);"
    >
      ASTRO ✦ HTML ✦ CSS ✦ TAILWIND ✦ JAVASCRIPT
    </h1>
    <h1
      id="element2"
      class="text-5xl text-center flex transition-transform duration-1000 ease-in-out"
      style="transform: translateX(100%);"
    >
      ✦ REACT ✦ NODE.JS ✦ NEXT ✦ TYPESCRIPT
    </h1>
  </div>
</section>
