---
const { img, alt, title, href } = Astro.props;
---

<div
  class="flex flex-col workcontainer rounded-lg animate-fade-left animate-duration-1000 lg:w-3/4 w-11/12"
>
  <div
    class="imageContainer flex justify-center h-[25vh] items-center overflow-hidden"
  >
    <img
      class="image object-cover h-full hover:scale-105 cursor-pointer"
      src={img}
      alt={alt}
    />
  </div>

  <div class="detailsContainer hidden h-[25vh] w-full">
    <div class="mx-auto flex flex-col gap-5 justify-center items-center">
      <u class="decoration-[#f8d8a7]">
        <h1
          class="font-bold text-black italic text-sm lg:text-xl detailscontainer"
        >
          {title}
        </h1>
      </u>
      <h1
        class="font-bold text-black italic text-xs lg:text-lg text-center detailscontainer"
      >
        <slot />
      </h1>
      <div class="flex flex-row justify-between gap-20">
        <button
          class="backButton text-sm text-black font-bold italic hover:scale-105 detailscontainer bg-[#F4F6F6] px-4 shadow-xl shadow-gray-500 rounded-md"
        >
          Back
        </button>
        <button
          class="hover:scale-105 bg-[#F4F6F6] text-[1.125rem] px-4 shadow-xl shadow-gray-500 rounded-md animate-wiggle animate-infinite animate-duration-1000 animate-ease-in hover:animate-none"
        >
          <a
            href={href}
            target="_blank"
            class="text-sm font-bold text-black italic detailscontainer">Go</a
          >
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll(".imageContainer").forEach((imageContainer) => {
    const detailsContainer = imageContainer.nextElementSibling as HTMLElement;
    const backButton = detailsContainer.querySelector(
      ".backButton"
    ) as HTMLButtonElement;

    imageContainer.addEventListener("click", () => {
      (imageContainer as HTMLElement).style.display = "none";
      detailsContainer.style.display = "flex";
    });

    backButton.addEventListener("click", () => {
      (imageContainer as HTMLElement).style.display = "flex";
      detailsContainer.style.display = "none";
    });
  });
</script>
