---
import "@fontsource-variable/alexandria";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Braulio Rosario Web Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <title>Braulio Rosario</title>
  </head>
  <body class="dark-mode">
    <Header />
    <slot />
    <Footer />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleColorSchemeButton =
          document.getElementById("toggleColorScheme");
        if (toggleColorSchemeButton) {
          toggleColorSchemeButton.addEventListener("click", () => {
            const body = document.querySelector("body");
            if (body) {
              body.classList.toggle("dark");
              console.log("Color change");
              if (body.classList.contains("dark")) {
                body.classList.remove("dark");
                console.log("Color change");
              } else {
                body.classList.add("dark");
                console.log("Color change");
              }
            }
          });
        }
      });
    </script>
  </body>

  <style is:global>
    body.light-mode {
      --color-background: white;
      --color-text: black;
    }

    body.dark-mode {
      --color-background: black;
      --color-text: rgb(244, 231, 212);
    }

    ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(244, 231, 212);
      border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    html {
      font-family: "Alexandria Variable", sans-serif;
    }

    body {
      background: var(--color-background);
      color: var(--color-text);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .rotating-effect {
      animation-name: rotate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: center;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .text-gold {
      color: rgb(244, 231, 212);
    }

    body.light-mode .workcontainer {
      --tw-bg-opacity: 0.1;
      background-color: rgb(244 231 212 / var(--tw-bg-opacity));

      --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      --tw-shadow-color: #6b7280;
      --tw-shadow: var(--tw-shadow-colored);
    }

    body.light-mode .workcontainer:hover {
      scale: 1.05px;
    }

    body.light-mode .workcontainer .detailscontainer {
      color: black;
    }

    body.dark-mode .workcontainer {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      --tw-shadow-color: rgba(244, 231, 212, 0.548);
      --tw-shadow: var(--tw-shadow-colored);
    }
  </style>
</html>
