---
import "@fontsource-variable/alexandria";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Braulio Rosario Web Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <title>Braulio Rosario</title>
  </head>
  <body class="dark-mode">
    <Header />
    <slot />
    <Footer />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleColorSchemeButton =
          document.getElementById("toggleColorScheme");
        if (toggleColorSchemeButton) {
          toggleColorSchemeButton.addEventListener("click", () => {
            const body = document.querySelector("body");
            if (body) {
              body.classList.toggle("dark");
              console.log("Color change");
              if (body.classList.contains("dark")) {
                body.classList.remove("dark");
                console.log("Color change");
              } else {
                body.classList.add("dark");
                console.log("Color change");
              }
            }
          });
        }
      });
    </script>
  </body>

  <style is:global>
    body.light-mode {
      --color-background: white;
      --color-text: black;
    }

    body.dark-mode {
      --color-background: black;
      --color-text: rgb(244, 231, 212);
    }

    ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgb(244, 231, 212);
      border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    html {
      font-family: "Alexandria Variable", sans-serif;
    }

    body {
      background: var(--color-background);
      color: var(--color-text);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
</html>
